AndroidManifest.xml for HOI iCARE

<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	android:versionCode="1555895591"
	android:versionName="1.0"
	android:installLocation="2"
	android:compileSdkVersion="23"
	android:compileSdkVersionCodename="6.0-2438415"
	package="com.wHOIiCARE_14760872"
	platformBuildVersionCode="23"
	platformBuildVersionName="6.0-2438415">
	<application
		android:label="(reference) @0x7f120043"
		android:icon="(reference) @0x7f08013a"
		android:name="com.appsgeyser.multiTabApp.AppsgeyserApplication"
		android:allowBackup="true"
		android:usesCleartextTraffic="true"
		android:networkSecurityConfig="(reference) @0x7f150000">
		<service
			android:name="com.google.android.play.core.assetpacks.ExtractionForegroundService"
			android:enabled="false"
			android:exported="false"/>
		<service
			android:name="com.google.android.play.core.assetpacks.AssetPackExtractionService"
			android:enabled="false"
			android:exported="true">
			<meta-data
				android:name="com.google.android.play.core.assetpacks.versionCode"
				android:value="11000"/>
		</service>
		<activity
			android:theme="(reference) @0x7f13020b"
			android:name="com.google.android.play.core.common.PlayCoreDialogWrapperActivity"
			android:enabled="false"
			android:exported="false"
			android:stateNotNeeded="true"/>
		<activity
			android:name="com.google.android.play.core.missingsplits.PlayCoreMissingSplitsActivity"
			android:enabled="false"
			android:exported="false"
			android:process=":playcore_missing_splits_activity"
			android:stateNotNeeded="true"
			android:launchMode="3"/>
		<provider
			android:name="com.google.firebase.provider.FirebaseInitProvider"
			android:exported="false"
			android:authorities="com.wHOIiCARE_14760872.firebaseinitprovider"
			android:initOrder="100"/>
		<service
			android:name="com.google.firebase.iid.FirebaseInstanceIdService"
			android:exported="true">
			<intent-filter
				android:priority="4294966796">
				<action
					android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
			</intent-filter>
		</service>
		<receiver
			android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver"
			android:exported="false"/>
		<service
			android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService"
			android:permission="android.permission.BIND_JOB_SERVICE"
			android:exported="false"/>
		<service
			android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery"
			android:exported="false">
			<meta-data
				android:name="backend:com.google.android.datatransport.cct.CctBackendFactory"
				android:value="cct"/>
		</service>
		<receiver
			android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver"
			android:permission="com.google.android.c2dm.permission.SEND"
			android:exported="true">
			<intent-filter>
				<category
					android:name="com.wHOIiCARE_14760872"/>
				<action
					android:name="com.google.android.c2dm.intent.RECEIVE"/>
			</intent-filter>
		</receiver>
		<service
			android:name="com.google.android.gms.measurement.AppMeasurementService"
			android:enabled="true"
			android:exported="false"/>
		<meta-data
			android:name="showEula"
			android:value="false"/>
		<activity
			android:theme="(reference) @0x01030011"
			android:name="com.chartboost.sdk.CBImpressionActivity"
			android:excludeFromRecents="true"
			android:configChanges="4a0"
			android:hardwareAccelerated="true"/>
		<uses-library
			android:name="org.apache.http.legacy"
			android:required="false"/>
		<service
			android:name="com.facebook.ads.internal.ipc.AdsMessengerService"
			android:exported="false"
			android:process=":adnw"/>
		<service
			android:name="com.facebook.ads.internal.ipc.AdsProcessPriorityService"
			android:exported="false"/>
		<activity
			android:name="com.facebook.ads.internal.ipc.RemoteANActivity"
			android:exported="false"
			android:process=":adnw"
			android:configChanges="4a0"/>
		<activity
			android:theme="(reference) @0x01030010"
			android:name="com.facebook.ads.AudienceNetworkActivity"
			android:exported="false"
			android:configChanges="4a0"
			android:hardwareAccelerated="true"/>
		<activity
			android:name="com.mopub.common.privacy.ConsentDialogActivity"
			android:configChanges="4a0"/>
		<receiver
			android:name="com.startapp.android.publish.common.metaData.BootCompleteListener">
			<intent-filter>
				<action
					android:name="android.intent.action.BOOT_COMPLETED"/>
			</intent-filter>
		</receiver>
		<service
			android:name="com.startapp.android.publish.common.metaData.PeriodicJobService"
			android:permission="android.permission.BIND_JOB_SERVICE"/>
		<service
			android:name="com.startapp.android.publish.common.metaData.InfoEventService"/>
		<service
			android:name="com.startapp.android.publish.common.metaData.PeriodicMetaDataService"/>
		<activity
			android:theme="(reference) @0x01030005"
			android:name="com.startapp.android.publish.adsCommon.activities.FullScreenActivity"
			android:configChanges="4a0"/>
		<activity
			android:theme="(reference) @0x0103000f"
			android:name="com.startapp.android.publish.adsCommon.activities.OverlayActivity"
			android:configChanges="4a0"/>
		<activity
			android:theme="(reference) @0x01030005"
			android:name="com.startapp.android.publish.ads.list3d.List3DActivity"/>
		<activity
			android:name="com.tappx.sdk.android.PrivacyConsentActivity"
			android:configChanges="4a0"/>
		<activity
			android:name="com.tappx.sdk.android.VideoAdActivity"
			android:configChanges="4a0"/>
		<activity
			android:theme="(reference) @0x7f130240"
			android:name="com.tappx.sdk.android.InterstitialAdActivity"
			android:configChanges="4a0"/>
		<activity
			android:name="com.tappx.sdk.android.AdActivity"
			android:configChanges="4a0"/>
		<activity
			android:name="com.appnext.banners.BannerActivity"
			android:screenOrientation="1"/>
		<activity
			android:name="com.appnext.core.result.ResultPageActivity"
			android:excludeFromRecents="true"
			android:launchMode="1"
			android:screenOrientation="1"/>
		<activity
			android:name="com.appnext.core.ResultActivity"
			android:excludeFromRecents="true"
			android:launchMode="1"/>
		<meta-data
			android:name="com.google.android.gms.version"
			android:value="(reference) @0x7f0b000c"/>
		<activity
			android:name="com.mopub.mobileads.RewardedMraidActivity"
			android:configChanges="4a0"/>
		<activity
			android:name="com.mopub.mobileads.MraidVideoPlayerActivity"
			android:configChanges="4a0"/>
		<activity
			android:name="com.mopub.common.MoPubBrowser"
			android:configChanges="4a0"/>
		<activity
			android:name="com.mopub.mobileads.MraidActivity"
			android:configChanges="4a0"/>
		<activity
			android:name="com.mopub.mobileads.MoPubActivity"
			android:configChanges="4a0"/>
		<meta-data
			android:name="unityplayer.ForwardNativeEventsToDalvik"
			android:value="true"/>
		<receiver
			android:name="com.appnext.base.receivers.AppnextBootReciever">
			<intent-filter>
				<action
					android:name="android.intent.action.BOOT_COMPLETED"/>
			</intent-filter>
		</receiver>
		<service
			android:name="com.appnext.base.services.OperationJobService"
			android:permission="android.permission.BIND_JOB_SERVICE"
			android:exported="true"/>
		<service
			android:name="com.appnext.base.services.OperationService"
			android:enabled="true"
			android:exported="false"/>
		<activity
			android:theme="(reference) @0x01030007"
			android:name="com.appnext.ads.fullscreen.FullscreenActivity"
			android:configChanges="4a0"
			android:hardwareAccelerated="true"/>
		<activity
			android:theme="(reference) @0x01030007"
			android:name="com.appnext.ads.interstitial.InterstitialActivity"
			android:configChanges="4a0"
			android:hardwareAccelerated="true"/>
		<service
			android:name="com.appnext.core.AdsService"/>
		<activity
			android:theme="(reference) @0x7f1301d1"
			android:name="com.appsgeyser.sdk.datasdk.DataSdkActivity"
			android:configChanges="a0"/>
		<receiver
			android:name="com.appsgeyser.sdk.push.PushStarterReceiver">
			<intent-filter>
				<action
					android:name="android.intent.action.REBOOT"/>
				<action
					android:name="com.htc.intent.action.QUICKBOOT_POWERON"/>
				<action
					android:name="android.intent.action.QUICKBOOT_POWERON"/>
				<action
					android:name="android.intent.action.BOOT_COMPLETED"/>
			</intent-filter>
		</receiver>
		<service
			android:name="org.altbeacon.bluetooth.BluetoothTestJob"
			android:permission="android.permission.BIND_JOB_SERVICE">
			<meta-data
				android:name="jobId"
				android:value="1799803768"/>
		</service>
		<service
			android:name="org.altbeacon.beacon.service.ScanJob"
			android:permission="android.permission.BIND_JOB_SERVICE">
			<meta-data
				android:name="periodicScanJobId"
				android:value="208352940"/>
			<meta-data
				android:name="immediateScanJobId"
				android:value="208352939"/>
		</service>
		<service
			android:name="org.altbeacon.beacon.BeaconIntentProcessor"
			android:enabled="true"
			android:exported="false"/>
		<service
			android:label="beacon"
			android:name="org.altbeacon.beacon.service.BeaconService"
			android:enabled="true"
			android:exported="false"
			android:isolatedProcess="false"/>
		<receiver
			android:name="com.yandex.metrica.MetricaEventHandler"
			android:enabled="true"
			android:exported="true">
			<intent-filter>
				<action
					android:name="com.android.vending.INSTALL_REFERRER"/>
			</intent-filter>
		</receiver>
		<service
			android:name="com.yandex.metrica.MetricaService"
			android:enabled="true"
			android:exported="true"
			android:process=":Metrica">
			<meta-data
				android:name="metrica:api:level"
				android:value="58"/>
			<intent-filter>
				<data
					android:scheme="metrica"/>
				<action
					android:name="com.yandex.metrica.IMetricaService"/>
				<category
					android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</service>
		<activity
			android:theme="(reference) @0x0103000a"
			android:name="com.appsgeyser.sdk.PausedContentInfoActivity"/>
		<service
			android:name="com.appsgeyser.sdk.push.AlarmService"
			android:enabled="true"/>
		<receiver
			android:name="com.appsgeyser.sdk.push.AlarmReceiver"/>
		<activity
			android:theme="(reference) @0x0103000a"
			android:name="com.appsgeyser.sdk.push.MessageViewer"
			android:excludeFromRecents="true"/>
		<activity
			android:theme="(reference) @0x01030010"
			android:name="com.onesignal.NotificationOpenedActivityHMS">
			<intent-filter>
				<action
					android:name="android.intent.action.VIEW"/>
			</intent-filter>
		</activity>
		<service
			android:name="com.onesignal.HmsMessageServiceOneSignal"
			android:exported="false">
			<intent-filter>
				<action
					android:name="com.huawei.push.action.MESSAGING_EVENT"/>
			</intent-filter>
		</service>
		<service
			android:name="com.google.firebase.components.ComponentDiscoveryService"
			android:exported="false"
			android:directBootAware="true">
			<meta-data
				android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar"
				android:value="com.google.firebase.components.ComponentRegistrar"/>
			<meta-data
				android:name="com.google.firebase.components:com.google.firebase.datatransport.TransportRegistrar"
				android:value="com.google.firebase.components.ComponentRegistrar"/>
			<meta-data
				android:name="com.google.firebase.components:com.google.firebase.iid.Registrar"
				android:value="com.google.firebase.components.ComponentRegistrar"/>
			<meta-data
				android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingRegistrar"
				android:value="com.google.firebase.components.ComponentRegistrar"/>
		</service>
		<service
			android:name="com.google.firebase.messaging.FirebaseMessagingService"
			android:exported="true"
			android:directBootAware="true">
			<intent-filter
				android:priority="4294966796">
				<action
					android:name="com.google.firebase.MESSAGING_EVENT"/>
			</intent-filter>
		</service>
		<service
			android:name="com.onesignal.SyncJobService"
			android:permission="android.permission.BIND_JOB_SERVICE"/>
		<service
			android:name="com.onesignal.RestoreKickoffJobService"
			android:permission="android.permission.BIND_JOB_SERVICE"/>
		<service
			android:name="com.onesignal.RestoreJobService"
			android:permission="android.permission.BIND_JOB_SERVICE"/>
		<service
			android:name="com.onesignal.GcmIntentJobService"
			android:permission="android.permission.BIND_JOB_SERVICE"/>
		<receiver
			android:name="com.onesignal.UpgradeReceiver">
			<intent-filter>
				<action
					android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
			</intent-filter>
		</receiver>
		<receiver
			android:name="com.onesignal.BootUpReceiver">
			<intent-filter>
				<action
					android:name="android.intent.action.QUICKBOOT_POWERON"/>
				<action
					android:name="android.intent.action.BOOT_COMPLETED"/>
			</intent-filter>
		</receiver>
		<activity
			android:theme="(reference) @0x7f1301d2"
			android:name="com.appsgeyser.sdk.ui.AboutDialogActivity">
			<intent-filter>
				<category
					android:name="android.intent.category.DEFAULT"/>
				<action
					android:name="android.intent.action.VIEW"/>
			</intent-filter>
		</activity>
		<service
			android:name="com.onesignal.NotificationRestoreService"/>
		<activity
			android:theme="(reference) @0x01030010"
			android:name="com.onesignal.PermissionsActivity"/>
		<service
			android:name="com.onesignal.SyncService"
			android:stopWithTask="true"/>
		<service
			android:name="com.onesignal.GcmIntentService"/>
		<receiver
			android:name="com.onesignal.NotificationOpenedReceiver"/>
		<receiver
			android:name="com.onesignal.GcmBroadcastReceiver"
			android:permission="com.google.android.c2dm.permission.SEND">
			<intent-filter
				android:priority="999">
				<category
					android:name="com.wHOIiCARE_14760872"/>
				<action
					android:name="com.google.android.c2dm.intent.RECEIVE"/>
			</intent-filter>
		</receiver>
		<meta-data
			android:name="onesignal_google_project_number"
			android:value="str:REMOTE"/>
		<meta-data
			android:name="onesignal_app_id"
			android:value="%ONE_SIGNAL_APP_ID%"/>
		<receiver
			android:name="org.altbeacon.beacon.startup.StartupBroadcastReceiver"/>
		<receiver
			android:name="com.appsgeyser.sdk.datasdk.DataSdksReceiver"
			android:enabled="true"
			android:exported="true">
			<intent-filter>
				<action
					android:name="android.intent.action.BOOT_COMPLETED"/>
			</intent-filter>
		</receiver>
		<activity
			android:theme="(reference) @0x01030010"
			android:name="com.google.android.gms.common.api.GoogleApiActivity"
			android:exported="false"/>
		<activity
			android:theme="(reference) @0x7f13001a"
			android:label="Theming"
			android:name="com.appsgeyser.multiTabApp.ThemingActivity"
			android:configChanges="4a0"/>
		<activity
			android:theme="(reference) @0x7f13001a"
			android:label="Settings"
			android:name="com.appsgeyser.multiTabApp.SettingsActivity"/>
		<meta-data
			android:name="com.google.android.gms.ads.APPLICATION_ID"
			android:value="ca-app-pub-9832460487800528~7265399623"/>
		<meta-data
			android:name="com.google.android.gms.version"
			android:value="(reference) @0x7f0b000c"/>
		<activity
			android:theme="(reference) @0x7f13000b"
			android:name="com.appsgeyser.multiTabApp.ui.views.PdfActivity"/>
		<activity
			android:theme="(reference) @0x0103000f"
			android:name="com.google.android.gms.ads.AdActivity"
			android:configChanges="fb0"/>
		<activity
			android:theme="(reference) @0x7f13000b"
			android:name="com.appsgeyser.multiTabApp.DownloadsListActivity"/>
		<activity
			android:theme="(reference) @0x7f13000a"
			android:label="(reference) @0x7f120043"
			android:name="com.appsgeyser.multiTabApp.VideoPlayerActivity"
			android:launchMode="2"
			android:screenOrientation="4"
			android:configChanges="4a0"/>
		<activity
			android:theme="(reference) @0x7f13000a"
			android:label="(reference) @0x7f120043"
			android:name="com.appsgeyser.multiTabApp.MainNavigationActivity"
			android:launchMode="2"
			android:screenOrientation="4"
			android:configChanges="4a0"
			android:windowSoftInputMode="10">
			<intent-filter>
				<data
					android:scheme="https"
					android:host="www.previewer.adalo.com"
					android:pathPrefix="/6af9b061-6716-454b-ac47-0177457b19b4"/>
				<data
					android:scheme="http"
					android:host="www.previewer.adalo.com"
					android:pathPrefix="/6af9b061-6716-454b-ac47-0177457b19b4"/>
				<category
					android:name="android.intent.category.BROWSABLE"/>
				<category
					android:name="android.intent.category.DEFAULT"/>
				<action
					android:name="android.intent.action.VIEW"/>
			</intent-filter>
			<intent-filter>
				<category
					android:name="android.intent.category.DEFAULT"/>
				<category
					android:name="android.intent.category.LAUNCHER"/>
				<action
					android:name="android.intent.action.MAIN"/>
			</intent-filter>
		</activity>
		<provider
			android:name="androidx.core.content.FileProvider"
			android:exported="false"
			android:authorities="com.wHOIiCARE_14760872.fileprovider"
			android:grantUriPermissions="true">
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="(reference) @0x7f150002"/>
		</provider>
	</application>
	<supports-screens
		android:anyDensity="true"
		android:smallScreens="true"
		android:normalScreens="true"
		android:largeScreens="true"
		android:resizeable="true"
		android:xlargeScreens="true"/>
	<uses-permission
		android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission
		android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION"/>
	<uses-permission
		android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS"/>
	<uses-permission
		android:name="android.permission.READ_PHONE_STATE"/>
	<uses-permission
		android:name="com.google.android.c2dm.permission.RECEIVE"/>
	<uses-feature
		android:name="android.hardware.bluetooth_le"
		android:required="false"/>
	<uses-feature
		android:name="android.hardware.bluetooth"
		android:required="false"/>
	<uses-permission
		android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
	<uses-permission
		android:name="com.android.alarm.permission.SET_ALARM"/>
	<uses-permission
		android:name="android.permission.GET_ACCOUNTS"/>
	<uses-permission
		android:name="android.permission.BLUETOOTH_ADMIN"/>
	<uses-permission
		android:name="android.permission.BLUETOOTH"/>
	<uses-permission
		android:name="android.permission.CHANGE_WIFI_STATE"/>
	<uses-permission
		android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission
		android:name="android.permission.WAKE_LOCK"/>
	<uses-permission
		android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission
		android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission
		android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
	<uses-permission
		android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
	<uses-permission
		android:name="android.webkit.permission.PLUGIN"/>
	<uses-permission
		android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission
		android:name="android.permission.INTERNET"/>
	<uses-sdk
		android:minSdkVersion="19"
		android:targetSdkVersion="30"/>
</manifest>

